<%= simple_form_for @image do |f| %>

  <div class="field form-group">
    <%= f.label :url, 'Enter URL of image to save' %><br/>
    <%= f.text_field :url, class: 'form-control' %>
    <% if @image.errors.any? %>
        <div class="help-block">
          <% @image.errors.full_messages.each do |msg| %>
              <div><%= msg %></div>
          <% end %>
        </div>
    <% end %>
    <%= f.label :tag_list, 'Tags (separated by commas)' %><br/>
    <%= f.input :tag_list, input_html: {value: @image.tag_list.split(" ").join(', ')},
                label: false, class: 'form-control' %>
    <%= f.submit "Save" %>
  </div>
<% end %>
